<body>  
  <div class="container">
    <h2>Simple Calculator Application</h2>
   
    Value1 :  <input type="number" id="ValueA" #valA min="1" max="100"><br><br>
    Value2 :  <input type="number" id="ValueB" #valB  min="1" max="100"><br /><br>
    Result from Calculator Service : <input type="text" id="Result" value="{{result['d']}}" disabled /><br /><br>

    <input type="button" value="Add" (click)="calculate(valA.value, valB.value, 'add')" id="btnAdd">
    <input type="button" value="Substract" (click)="calculate(valA.value, valB.value, 'substract')" id="btnMinus">
    <input type="button" value="Multiply" (click)="calculate(valA.value, valB.value, 'multiply')" id="btnMultiply">
    <input type="button" value="Divide" (click)="calculate(valA.value, valB.value, 'division')" id="btnDivide">
  </div>
</body>
